<div class="min-h-screen bg-gradient-to-tr from-violet-600 to-fuchsia-500 p-10">
  <div class="w-full h-full flex flex-col lg:w-3/5 md:w-4/5 w-full mx-auto flex flex-col mb-20">
    <!-- Heading -->
    <h1 class="text-white font-bold text-6xl mx-auto mb-5">DnD Initiative Tracker</h1>
    <div class="flex flex-row w-full justify-center">
      <button class="sm:w-1/6 text-xl bg-white text-zinc-800 rounded p-1 drop-shadow-lg hover:scale-110 active:scale-95 duration-100 mr-10" (click)="showModal(monsterModal)">Add a Monster</button>
      <button class="sm:w-1/6 text-xl bg-white text-zinc-800 rounded p-1 drop-shadow-lg hover:scale-110 active:scale-95 duration-100"       (click)="showModal(playerModal)">Add a Player</button>
    </div>
    <hr class="mt-5 border-2 rounded-full">

    <!-- Next turn button -->
    <button *ngIf="entities.length > 1" class="sticky top-2 z-50 w-5/6 mx-auto mt-4 text-xl bg-white text-zinc-800 rounded p-1 drop-shadow-lg thick-shadow hover:scale-105 active:scale-95 duration-100" (click)="incrementInitiativePointer()">Next turn</button>

    <!-- Entity list -->
    <div class="flex flex-col mt-10">
      <app-entity-box *ngFor="let entity of entities; let i = index;" [entity]="entity" [index]="i" [selected]="i === initiativePointer" (skipMe)="handleSelectionResult($event)" (deleteMe)="deleteEntity($event)"></app-entity-box>
    </div>

    <!-- XP tally -->
    <app-xp-total *ngIf="entities.length > 0" [entityList]="entities" class="self-end"></app-xp-total>
  </div>
</div>

<app-modal #monsterModal [title]="'Add a Monster'">
  <app-monster-form (monsterCreated)="addEntity($event)"></app-monster-form>
</app-modal>

<app-modal #playerModal [title]="'Add a Player'">
  <app-player-form (playerCreated)="addEntity($event)"></app-player-form>
</app-modal>

<div class="fixed right-2 bottom-2 flex flex-row items-center">
  <button title="Save" class="mr-5" (click)="save()">
    <fa-icon [icon]="saveIcon" size="2x" class="text-white my-auto"></fa-icon>
  </button>
  <button title="Load" class="mr-5" (click)="load()">
    <fa-stack>
      <fa-icon [icon]="folderIcon" stackItemSize="2x" class="text-white my-auto"></fa-icon>
      <fa-icon [icon]="cdIcon" stackItemSize="1x" transform="right-10 down-10" class="text-slate-400 my-auto"></fa-icon>
    </fa-stack>
  </button>
  <button title="Download save file" class="mr-5" (click)="download()">
    <fa-icon [icon]="downloadIcon" size="2x" class="text-white my-auto"></fa-icon>
  </button>
  <button title="Load from file" (click)="upload()">
    <fa-icon [icon]="uploadIcon" size="2x" class="text-white my-auto"></fa-icon>
  </button>
</div>
